# Oracle Connection Template with cx_Oracle
* install module cx_Oracle
    * OBS: both Anaconda versions (Oracle Client and cx_Oracle) must be **all** x32 or x64
* Input database username and password

In [1]:
import cx_Oracle
import pandas as pd
import os

# Adjust encoding to UTF8
os.environ["NLS_LANG"] = ".AL32UTF8"

In [2]:
# Make DSN address. Real values for host address, port and service name were replaced by '<>'.
dsn = cx_Oracle.makedsn('<host_address>', '<port>', service_name='<service_name>')

# Connect to DSN
orcl = cx_Oracle.connect(user='<username>', password='<password>', dsn=dsn)
print("Connected to Oracle: " + orcl.version)

Connected to Oracle: 12.1.0.2.0

In [3]:
# Create query as a string
sql = "SELECT USERENV ('language') FROM DUAL"

# Create cursor
curs = orcl.cursor()

# Execute query
curs.execute(sql)

# Print cursor
for row in curs:
    print(row)

('AMERICAN_AMERICA.WE8MSWIN1252',)

**Download data frame running a query:**

In [1]:
sql = "select * from OWNER.TABLE_NAME"
curs = orcl.cursor()
curs.execute(sql)

df = pd.DataFrame(curs.fetchall())