# Teradata Connection Template
* Install teradata e sqlalchemy-teradata modules
* Input username and password

In [1]:
from getpass import getpass
from os import environ
import sqlalchemy as sql
import pandas as pd

# Adjust encoding to UTF8
environ["NLS_LANG"] = ".AL32UTF8"

In [2]:
# Get username and password hiding inputs
usr = getpass(prompt='Usuário: ')
psw = getpass(prompt='Senha: ')

Usuário: ········
Senha: ········

In [4]:
# Create url to connect to Teradata. Real names for host address and service name were replaced by '<>'.
url='teradata://' + usr + ':' + psw + '@<host_address>:22/<database_name>?dsn=<host_name>&driver=teradata'

# Create engine to connect to url
engine = sql.create_engine(url)

# Connect
conn = engine.connect()
print('Conectado.')

Conectado.

**Execute DDL or DML statements directly to Teradata**

In [11]:
conn.execute('CREATE TABLE BI_INDICADORES.TESTE (A NUMBER(22))')

In [12]:
conn.execute('DROP TABLE BI_INDICADORES.TESTE')

**Download dataframes running queries to Teradata**

In [14]:
df = pd.read_sql_query("""
SELECT NUM_ANO_MES,sum(1) ASSOCIADOS,round(avg(ISA),2) ISA,round(avg(MC_ASSOC),0) MC 
FROM BI_INDICADORES.FTO_BASE_RELACIONAMENTO 
GROUP BY NUM_ANO_MES ORDER BY NUM_ANO_MES ASC
""",conn)

**Close connection**

In [16]:
conn.close()
print('Desconectado.')

Desconectado.